@model IEnumerable<GitHubExercise.Payscale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayBand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>

                HRA

            </th>

            <th>

                TA

            </th>

            <th>

                DA

            </th>

            <th>

                Net Salary

            </th>

            <th>

                In Hand

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayBand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSalary)
            </td>
            <td>
                @(item.BasicSalary * .10)
            </td>
            <td>
                @(item.BasicSalary * .05)
            </td>
            <td>
                @(item.BasicSalary * .05)
            </td>
            <td>
                @( item.BasicSalary*.05+ item.BasicSalary * .05+ item.BasicSalary * .10+item.BasicSalary)
            </td>
            <td>
                @( item.BasicSalary*.05+ item.BasicSalary * .05+ item.BasicSalary * .10+item.BasicSalary-.10+item.BasicSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayBand">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayBand">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayBand">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
